#set($inputRoot = $input.path('$')) { "jenkins_url": "$inputRoot.jenkins_url", "job_name": "$inputRoot.job_name", "job_display_name": "$inputRoot.job_display_name", "environment": "$inputRoot.job_display_name.split('-')[0].toLowerCase()", "job_type": "$inputRoot.job_type", #set($count1 = 0) #set($count2 = 0) #foreach($key in $inputRoot.job_config.keySet()) #if($key.startsWith('should')) #set($count1 = $count1 + 1) #end #end "steps" : { #foreach($key in $inputRoot.job_config.keySet()) #if($key.startsWith('should')) "$key.toLowerCase()" : $inputRoot.job_config.get($key) #set($count2 = $count2 + 1) #if($count2 != $count1), #end #end #end }, "job_env" : $input.json('$.job_env'), "build" : $input.json('$.build'), "job_config" : { "dockerImages": $input.json('$.job_config.dockerImages'), "slackChannel": $input.json('$.job_config.slackChannel'), "gitRepository": $input.json('$.job_config.gitRepository'), "gitURL": $input.json('$.job_config.gitURL') } }